/*
font-family: "Poppins", sans-serif;
font-family: "Geologica", sans-serif;
*/

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: rgb(32, 36, 48);
	color: rgb(244, 242, 242);
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	display: block;
	margin: 1rem auto;
	width: 10rem;
}

h1 {
	font-family: "Geologica", sans-serif;
	color: rgb(236, 237, 233);
	text-align: center;
	/* margin-bottom: 2rem; */
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
}

form {
	width: 32rem;
	background: rgba(140, 95, 59, 0.89);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	padding: 2rem;
	/* background: rgba(255, 255, 255, 0.55); */
	background: rgb(85, 79, 166);
	background: -moz-linear-gradient(348deg, rgba(85, 79, 166, 1) 12%, rgba(37, 98, 150, 1) 100%);
	background: -webkit-linear-gradient(348deg, rgba(85, 79, 166, 1) 12%, rgba(37, 98, 150, 1) 100%);
	background: linear-gradient(348deg, rgba(85, 79, 166, 1) 12%, rgba(37, 98, 150, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#554fa6",endColorstr="#256296",GradientType=1);
}

form > * {
	display: flex;
	flex-direction: column;
}

form > * > * {
	width: 100%;
}

input {
	color: rgba(255, 255, 255, 1);
	font-size: 1.25rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	background: none;
	/* background-color: rgba(255, 255, 255, 0.846); */
	border: 1px solid rgba(255, 255, 255, 0.5);
}

table th,
table td {
	padding: 0 1rem;
	text-align: right;
}

table tr {
	height: 1.5rem;
}
